@{
    // ViewBag.Title = "Registros";
    Layout = "~/Views/shared/_pivma.main.dashboard.Header.cshtml";
    
}


@model List<MiniAmazon.Domain.Entities.Product>
@{
}

<legend>
    <center><b> <small>@ViewBag.Title</small> </b> </center>
</legend>

<div class="btn-toolbar">
    @Html.ActionLink("Crear nuevo producto", "Create_Record", "Product","",new { @class = "btn btn-primary" })
</div>

<div class="well">
    <table class="table table-hover-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Inventario</th>
                <th>En Venta?</th>
                <th title="Cambiar" style="width: 36px;"></th>
            </tr>
        </thead>
        <tbody>

            @{var index = 0;}
            @foreach (var p in Model)
            {
                index++;

                <tr>
                    <td>@index.ToString()</td>
                    <td>
                        <img alt=""  class="img-rounded" height="40" width="40" src=@p.Picture1 /></td>
                    
                    <td>@p.Name</td>
                    <td>@p.Description</td>
                    <td>@(decimal.Round(p.Price, 2, MidpointRounding.AwayFromZero))</td>
                    <td>@p.Inventory</td>
                    @if (p.ActiveForSales)
                    { <td>Si</td> }
                    @if (!p.ActiveForSales)
                    { <td>No</td> }
                    <td>
                        @Html.ActionLink("-", "Edit", "ProductDisableSale", new { id = p.Id }, new { @class = "icon-remove" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


@*<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Habilitar/Desabilitar venta</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">Esta seguro de realizar esta operación?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>

        @Html.ActionLink("Aceptar","Edit","ProductDisableSale",new{id=p.Id},new {@class="btn btn-danger",@datadismiss="modal"})
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>*@
