@{
                     //ViewBag.Title = "Registros";
                     //Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
                     // Layout = "~/Views/shared/_pivma.main.dashboard.Header.Bar.cshtml";    
}

@{
    
}

@using MiniAmazon.Web.Models;
@model SearchInputModel


<div align="right">
                   
                 @Html.ActionLink("Suscribirme", "AddToFollower", "Vendor", new { id = Model.AccountID }, new { @class = "btn btn-info"  })
                 @Html.ActionLink("Ver perfil", "VendorProfile", "Vendor", new { id = Model.AccountID }, new { @class = "btn btn-primary" })
                 @Html.ActionLink("Denunciar", "Inform", "Management", new { id = Model.AccountID }, new { @class = "btn btn-danger" })
                 @Html.ActionLink("Contactar", "Contact", "Vendor", new { id = Model.AccountID }, new { @class = "btn btn-inverse" })                    
                 @Html.ActionLink(" ", "Index", "DashBoard", new { id = Model.AccountID }, new { @class = "icon-home"  })
                <a href="javascript:history.back()"><img src="~/Content/images/back.png" height="16" width="16" alt="Botón"</a> 
                 

     

    </div>
<div class="well">
<div class="row">
    <div class="span9">
        <h1>@ViewBag.ProductTitle</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="span3">
        @*<img alt="" src=@ViewBag.ProductPicture1 height="800" width="600" />*@
        <img alt="" src=@ViewBag.ProductPicture1 class="img-rounded" height="800" width="600">

        @*<ul class="thumbnails">*@

           @* <li class="span1">
                <a href="#" class="thumbnail">
                    <img alt="" src=@ViewBag.ProductPicture2/>
                </a>
            </li>*@

@*            <li class="span1">
                <a href="#" class="thumbnail">
                    <img alt="" src=@ViewBag.ProductPicture3 />
                </a>
            </li>*@

         @*   <li class="span1">
                <a href="#" class="thumbnail">
                    <img alt="" src=@ViewBag.ProductPicture4/>
                </a>
            </li>*@

        @*</ul>*@

    </div>

    <div class="span6">

        <div class="span6">
            <address>

                <strong>Descripción:</strong> <span>@ViewBag.ProductDesc</span><br />
                <strong>Categoria:</strong> <span>@ViewBag.ProductCat </span>
                <br />
                <strong>Vendedor:</strong> <span>@ViewBag.ProductVendor </span>
                <br />
                <strong>Disponibles:</strong> <span>@ViewBag.ProductInventory</span><br />

                <strong>Reviews:</strong> <span>@ViewBag.Product_Reviews_Count </span> <br />
                <strong>Reviews Agv:</strong> <span>@ViewBag.Product_Reviews_Avg </span> <br />
            </address>
        </div>

        <div class="span6">
            <h2>
                <strong>Precio: @ViewBag.ProductPrice </strong>         
            </h2>
        </div>

        <div class="span6">
            <form class="form-inline">
                <div class="span6 no_margin_left">
                    <label>Cantidad:</label>
                    <input type="text" class="span1" placeholder="1">
                    <button class="btn btn-small"" type="submit">Agregar al carrito</button>

                        <div class="btn-group dropup">
    <button class="btn">Agregar a mi lista</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Relojes</a></li>
                            <li><a tabindex="-1" href="#">Ropa</a></li>
                            <li><a tabindex="-1" href="#">Gadget</a></li>
                            <li><a tabindex="-1" href="#">Otros</a></li>
    </ul>
    </div>
                </div>
            </form>
        </div>

        <div class="span6">
            <p>
                <a href="#">0 Recomendaciones</a>|<a href="#">Valorar</a>
                @*@Html.Partial("_ArticleRating", new MiniAmazon.Web.Models.ArticleRating(Model.AccountID, 5, 2))     *@
                 @Html.Partial("_RatingProduct", new RatingProductInputModel(Model.Id, Model.ProductName, "0", "20"))

            </p>
        </div>


    </div>


</div>
    
</div>


<hr>



<div class="row">
    <div class="span9">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">Información</a></li>
                <li><a href="#2" data-toggle="tab">Comentarios</a></li>
                <li><a href="#3" data-toggle="tab">Productos relacionados</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                </div>
                <div class="tab-pane" id="2">
                    <p>Este producto no tiene comentarios.</p>
                </div>
                <div class="tab-pane" id="3">
                    <ul class="thumbnails related_products">

                        <li class="span2">
                            <div class="thumbnail">
                                <a href="product.html">
                                    <img alt="" src="http://placehold.it/220x275" /></a>
                                <div class="caption">
                                    <a href="product.html">
                                        <h5>@ViewBag.ProductTitle  1</h5>
                                    </a>Price: &#70;51.00<br />
                                    <br />
                                </div>
                            </div>
                        </li>

                        <li class="span2">
                            <div class="thumbnail">
                                <a href="product.html">
                                    <img alt="" src="http://placehold.it/220x275" /></a>
                                <div class="caption">
                                    <a href="product.html">
                                        <h5>@ViewBag.ProductTitle 2</h5>
                                    </a>Price: &#57;00.00<br />
                                    <br />
                                </div>
                            </div>
                        </li>

                        <li class="span2">
                            <div class="thumbnail">
                                <a href="product.html">
                                    <img alt="" src="http://placehold.it/220x275" /></a>
                                <div class="caption">
                                    <a href="product.html">
                                        <h5>@ViewBag.ProductTitle 3</h5>
                                    </a>Price: &#17;57.00<br />
                                    <br />
                                </div>
                            </div>
                        </li>

                        <li class="span2">
                            <div class="thumbnail">
                                <a href="product.html">
                                    <img alt="" src="http://placehold.it/220x275" /></a>
                                <div class="caption">
                                    <a href="product.html">
                                        <h5>@ViewBag.ProductTitle 4</h5>
                                    </a>Price: &#76;40.00<br />
                                    <br />
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>




@section head {
    <link href="@Url.Content("~/Content/rating.css")" rel="stylesheet" />
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/rating.js")"></script>
    <script>
        // ratting system: https://github.com/irfan/jquery-star-rating
        $('.ratting-item').rating(function (vote, event) {
            var anchor = $(event.currentTarget),
                pid = anchor.closest(".ratting-item").data("pid"),
                url = '@Url.Action("RateProduct", "DashBoard")';

            // show message while doing the database round trip
            $('.ratting-item[data-pid=' + pid + ']')
                .next()
                .text("Guardando tu valoración...");

            $.ajax({
                url: url,
                type: "GET",
                data: { rate: vote, id: pid },
                success: function (data) {

                    if (data.success) {
                        // all went well, here you can say Thank you
                        $('.ratting-item[data-pid=' + data.pid + ']')
                            .next()
                            .text("Valorado! (Producto id: " + data.pid + ")");
                    }
                    else {
                        // There must be an Exception error, let's show it
                        $('.ratting-item[data-pid=' + data.pid + ']')
                            .next()
                            .text("Algo salió mal, valoración no realizada...");
                    }
                },
                error: function (err) {
                    // the call thrown an error
                    $('.result').text(err);
                },
                complete: function () {
                    //$(".loading").hide();
                }
            });
        });
    </script>
}