@{
    //ViewBag.Title = "Registros";
    //Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
    Layout = "~/Views/shared/_pivma.main.dashboard.Header.Bar.cshtml";
    
}


@using BootstrapSupport
@model System.Collections.IEnumerable



<legend> <b> <small>@ViewBag.Title @ViewBag.Filter </small> </b> </legend>
    

<div class="span12">
    
    
    <table class="table table-bordered table-striped">
        <caption></caption>
        <thead>
            <tr>
                @foreach (var property in Model.VisibleProperties())
                {
                    <th>
                        @property.GetLabel().ToSeparatedWords()
                    </th>
                }
                <th></th>
            </tr>
        </thead>

        @{ int index = 0; }
        @foreach (var model in Model)
        {
            ViewData[index.ToString()] = model;

            <tr>                
                @foreach (var property in model.VisibleProperties())
                {
                    if (property.Name == "Picture1")
                    {
                    
                    <td class="muted center_text"><a >
                        <img alt=""  class="img-rounded" height="100" width="100" src=@Html.Display(index + "." + property.Name) /></a>

                    </td>
                        continue;
                    }                    
                    <td>                        
                        @Html.ActionLink( @Html.Display(index + "." + property.Name).ToString(), "ProductDetail", model.GetIdValue())     
                    </td>                  
                }

            </tr>
                index++;
        }

    </table>

    <div class="pagination pagination-centered">
        <ul>
            <li><a href="#">Anterior</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Siguiente</a></li>
        </ul>
    </div>

</div>

