@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    <div class="container">
        @*Menu del encabezadp*@
        <div class="row">
            <div class="span4 logo">
                <h2>@Html.ActionLink("Pivma", "Index", "DashBoard") </h2>
                <h6><small>Online Shopping</small></h6>
            </div>
            <div class="span8">
                <div class="row">
                    <div class="span1">&nbsp;</div>
                    <div class="span2">
                        <h4>Bienvenido</h4>
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink(User.Identity.Name, "MyProfile", "MyAccount") <br />
                            @Html.ActionLink("Cerrar sesión", "LogOut", "MyAccount")
                        }
                        else
                        {
                            @Html.ActionLink("Entrar", "SignIn", "MyAccount")<br />
                            @Html.ActionLink("Registrarme", "Create_Record", "MyAccount")
                        }

                    </div>

                    <div class="span2">
                        <a href="cart.html">
                            <h4>Carrito de compras</h4>
                        </a>
                        <a href="cart.html">0 Articulos - $00.00 </a>
                    </div>
                    <div class="span3 customer_service">
                        <h4>Promoción del día</h4>
                        <h4><small>Servicio al cliente : (504)-3358-5608</small></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="link pull-right">
                        @Html.ActionLink("Inicio", "Index", "DashBoard")
                        @Html.ActionLink("Perfil", "MyProfile", "MyAccount")
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole(MiniAmazon.Data.Utility.AdminRole))
                            {
                            @Html.ActionLink("Administración", "Menu", "Management")
                            }
                        }

                    </div>
                </div>
            </div>
        </div>

        @*Menu  de la barra de busquedas*@
        <div class="row">
            @RenderBody()
        </div>
</body>
</html>
