@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    <div class="container">
        @*Menu del encabezadp*@
        <div class="row">
            <div class="span4 logo">
                <h2>@Html.ActionLink("Pivma", "Index", "DashBoard") </h2>
                <h6><small>Online Shopping</small></h6>
            </div>
            <div class="span8">
                <div class="row">
                    <div class="span1">&nbsp;</div>
                    <div class="span2">
                        <h4>Bienvenido</h4>
                        @Html.ActionLink("Entrar", "SignIn", "MyAccount") |
                        @Html.ActionLink("Registrarme", "Create_Record", "MyAccount")


                    </div>


                    <div class="span2">
                        <a href="cart.html">
                            <h4>Carrito de compras</h4>
                        </a>
                        <a href="cart.html">0 Articulos - $00.00 </a>
                    </div>
                    <div class="span3 customer_service">
                        <h4>Promoción del día</h4>
                        <h4><small>Servicio al cliente : (504)-3358-5608</small></h4>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="link pull-right">
                        <a href="index.html">Inicio</a> |                           
                        <a href="my_account.html">Mi perfil</a> |   
                        @Html.ActionLink("Administración", "Menu", "Management")

                    </div>
                </div>
            </div>
        </div>


        @*Menu  de la barra de busquedas*@
        <div class="row">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container" style="width: auto;">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse">

                                @*Categorias*@
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="category.html" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-header">Entretenimiento</li>
                                            <li><a href="listing.html">Revistas</a></li>
                                            <li><a href="listing.html">Peliculas</a></li>
                                            <li><a href="listing.html">Videosjuegos</a></li>
                                            <li class="divider"></li>
                                            <li class="nav-header">Hogar</li>
                                            <li><a href="listing.html">Linea Blanca</a></li>
                                            <li><a href="listing.html">Muebles</a></li>
                                            <li><a href="listing.html">Cocina</a></li>
                                            <li class="divider"></li>
                                            <li class="nav-header">Tecnologia</li>
                                            <li><a href="listing.html">Celulares</a></li>
                                            <li><a href="listing.html">Computadoras</a></li>
                                            <li><a href="listing.html">Electronica</a></li>
                                            <li class="divider"></li>
                                            <li><a href="listing.html">Mostrar mas...</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                @*Lista de Deseos*@
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="WishList.html" class="dropdown-toggle" data-toggle="dropdown">Lista de deseos <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="listing.html">Relojes</a></li>
                                            <li><a href="listing.html">Ropa</a></li>
                                            <li><a href="listing.html">Gadget</a></li>
                                            <li class="divider"></li>
                                            <li><a href="listing.html">Mostrar mas...</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                @*Barra y boton Buscar*@
                                <ul class="nav pull-right">
                                    <li class="divider-vertical"></li>
                                    <form class="navbar-search" method="get" action="">
                                        <input class="search-query  span2" placeholder="..." type="text" />
                                        <button class="btn btn-primary btn-" type="submit">Buscar</button>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>@ViewBag.Title <small>
                        <h4>Registros</h4>
                    </small></h1>
                </div>
            </div>
        </div>


        @*Filtro*@
 @*       <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Filtrar</a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <form class="form-search">
                            <div class="input-append">
                                <input type="text" class="input-xxlarge">
                                <button type="submit" class="btn">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>*@

        @*Detalles*@
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Registros </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div></div>
</body>
</html>

@*    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)*@