@{
   // ViewBag.Title = "Registros";
    Layout = "~/Views/shared/_pivma.main.dashboard.Header.cshtml";
    
}


@using BootstrapSupport
@model System.Collections.IEnumerable  

<div class ="Well"></div>

<div class ="Well">
<h2>@ViewBag.Title</h2>
@*<table class="table table-bordered table-striped">*@
    @*<table class="table table-hover">*@
    <table class="table table-hover-bordered table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model.VisibleProperties())
            {

                <th>
                    @property.GetLabel().ToSeparatedWords()
                </th>
            }
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;

        <tr>
            @foreach (var property in model.VisibleProperties())
            {

                <td>
                    @Html.Display(index + "." + property.Name)
                </td>                    
            }
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
                       
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
 @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  

                            <li>@Html.ActionLink("Editar", "Edit_Record",routevalues)</li>

                            <li>@Html.ActionLink("Detalles", "Details_Record",routevalues)</li>

                            <li class="divider"></li>

                            <li>@Html.ActionLink("Eliminar", "Delete_Record", routevalues)</li>
                               
 }
                    </ul>
                </div>

            </td>
        </tr>
            index++;
    }

</table>
    </div>
<p>
    @Html.ActionLink("Agregar", "Create_Record", null, new {@class = "btn"})
</p>

