@{
    //ViewBag.Title = "Nuevo registro";
    Layout = "~/Views/shared/_pivma.main.dashboard.Header.cshtml";
    
}



@using BootstrapSupport
@model Object
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend> <center><b> <small>@ViewBag.Title</small> </b> </center>  </legend>
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
                 <div class="controls">
                     @Html.Editor(property.Name, new { @class = "input-xlarge" })
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">Enviar</button>
            @*@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })*@
            @Html.ActionLink("Cancelar","Index", "DashBoard")
          </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Inicio","Index", "DashBoard")
</div>
